.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #121111;
  z-index: 2;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
  opacity: 1;
  visibility: visible; }
  .preloader .loader {
    width: 75px;
    height: 75px;
    border: 10px solid white;
    border-radius: 50%;
    border-top-color: #c63333;
    left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: 2s spin infinite linear;
    animation: 2s spin infinite linear; }
  .preloader.done {
    opacity: 0;
    visibility: hidden; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg); }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg); }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg); } }

body {
  background: url(../../img/bg2.jpg);
  background-size: cover;
  background-attachment: fixed; }

#nav {
  margin: auto;
  width: 1000px;
  margin-bottom: 12px; }

.nav_button {
  font-family: UpheavalPro;
  padding-top: 15px;
  width: 246px;
  height: 60px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 5px;
  text-align: center;
  border: 0.5px solid #fff;
  font-size: 40px;
  display: inline-block;
  background: rgba(137, 51, 35, 0.76); }

.nav_button:hover {
  -webkit-box-shadow: 0px 0px 40px;
  box-shadow: 0px 0px 40px;
  color: white;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }

.left {
  float: left;
  padding: 0px 0px 0px 20px; }

.right {
  float: right;
  padding: 50px 50px 0px 0px; }

.left, .right {
  font-size: 160px;
  color: #c63333;
  font-family: HACKED; }

.header {
  margin-top: 12px;
  margin: auto;
  width: 1000px;
  margin: auto;
  background: rgba(30, 25, 22, 0.89);
  border: 2px solid rgba(15, 12, 11, 0.89); }

.header > img {
  width: 220px;
  height: 220px;
  padding-left: 15px; }

.container {
  display: block;
  background: rgba(30, 25, 22, 0.89);
  border: 2px solid rgba(15, 12, 11, 0.89);
  padding: 0px;
  width: 500px;
  height: 100%;
  margin: auto;
  margin-top: 12px; }
  .container img {
    margin-top: 5px;
    margin-left: 101px; }

h1 {
  margin: auto;
  margin-top: 0px;
  margin-bottom: 15px;
  color: antiquewhite;
  letter-spacing: 7px;
  font-size: 50px;
  text-align: center;
  font-family: Determination;
  width: 420px; }

.form-gender {
  color: #ffffff;
  font-family: Determination;
  letter-spacing: 2px;
  font-size: 20px;
  margin-bottom: 8px; }
  .form-gender label {
    color: #c63333; }
  .form-gender input {
    margin-left: 30px; }

#gender {
  width: 50px;
  height: 25px;
  display: inline-block; }

.form-row label {
  color: #c63333;
  font-family: Determination;
  letter-spacing: 2px;
  font-size: 20px; }

.form-row {
  margin-bottom: 8px;
  overflow: hidden; }

.form-row input {
  /* background: grey; */
  float: right;
  height: 20px;
  line-height: 20px;
  padding: 0px 5px;
  width: 300px;
  border: 1px solid rgba(15, 12, 11, 0.89); }

.reg-form {
  width: 420px;
  margin: 0px auto; }
  .reg-form input {
    font-family: Determination; }

textarea {
  font-family: Determination; }

.form-row textarea {
  margin-top: 10px;
  height: 100px;
  line-height: 20px;
  font-size: 20px;
  padding: 0px 5px;
  width: 420px;
  border: 1px solid rgba(15, 12, 11, 0.89);
  /* background: grey; */ }

.form-row input[type=submit] {
  padding: 5px;
  height: 25px;
  width: 100%;
  line-height: 10px;
  background: grey;
  color: aliceblue;
  margin-bottom: 10px;
  font-size: 15pt;
  cursor: pointer; }

.form-row input[type=submit]:hover {
  background: #286090; }

.footer-container {
  margin: auto;
  margin-top: 10px;
  width: 970px;
  height: auto;
  background: rgba(30, 25, 22, 0.89);
  border: 2px solid rgba(15, 12, 11, 0.89); }
  .footer-container p {
    text-align: center;
    padding: 5px;
    color: antiquewhite;
    margin-left: 70px;
    width: 860px;
    font-family: SUPPERBLACK; }

.foot_img_left {
  height: 40px;
  float: left;
  margin-left: 10px;
  margin-top: 10px; }

.foot_img_right {
  height: 40px;
  float: right;
  margin-right: 20px;
  margin-top: 10px; }
