@font-face{
    font-family:HACKED;
    src: url(Fonts/8693.ttf);
}
@font-face{
    font-family:SUPPERBLACK;
    src: url(Fonts/8414.ttf);
}
@font-face{
    font-family:MachineC;
    src:url(Fonts/10733.otf);
}
@font-face{
    font-family:UpheavalPro;
    src:url(Fonts/9913.ttf);
}
@font-face{
    font-family:Snowstorm Kraft;
    src:url(Fonts/9851.otf);
}
@font-face{
    font-family:Determination;
    src:url(Fonts/10895.otf);
}
